projects/synapsis.hyb/comercialinvoice/dev/controllers/syn.custombrokers/1_0_stdControladorAcuseValor64_dll/ControladorAcuseValor64/Connected Services/VUCEM/RecibirCove.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://www.ventanillaunica.gob.mx/cove/ws/oxml/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/cove/ws/oxml/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="TipoIdentificador">
    <xsd:annotation>
      <xsd:documentation>
				Indica como se identifica la factura, el emisor o el
				destinatario. 
				&lt;pre&gt; Valores posibles : 
					0 - TAX ID. Se identifica con tax id. 
					1 - RFC. Se identifica con rfc 
					2 - CURP. Se identifica con curp. 
					3 - SIN_TAX_ID Se indentifica sin TAX ID&lt;/pre&gt;
    		</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration id="TAX_ID" value="0" />
      <xsd:enumeration id="RFC" value="1" />
      <xsd:enumeration id="CURP" value="2" />
      <xsd:enumeration id="SIN_TAX_ID" value="3" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TipoOperacion">
    <xsd:annotation>
      <xsd:documentation>
				Indica como se identifica la factura, el emisor o el
				destinatario. &lt;pre&gt; 
				Valores posibles : 
					TOCE.IMP - Importacion
					TOCE.EXP - Exportacion. &lt;/pre&gt;
    		</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration id="importacion" value="TOCE.IMP" />
      <xsd:enumeration id="exportacion" value="TOCE.EXP" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Subdivision">
    <xsd:annotation>
      <xsd:documentation> Indica si la factura tiene o no subdivision.
				&lt;pre&gt;
				Valores posibles :
				0 - NO TIENE SUBDIVISION.
				1 - SI TIENE SUBDIVISION
				&lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration id="SIN_SUBDIVISION" value="0" />
      <xsd:enumeration id="CON_SUBDIVISION" value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificadoOrigen">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt;
				0 = No Funge como certificado de origen
				1 = Con Funge como certificado de origen

				Derivado de la excepci??n de certificados de Origen de los Tratados de Libre
				Comercio que ha celebrado M??xico con diversos pa??ses como: Costa
				Rica,
				Bolivia, Nicaragua, Chile, Israel, El Salvador, Guatemala y Honduras,
				Uruguay, Am??rica del Norte y Acuerdo con Jap??n. &lt;/pre&gt;
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration id="NO_FUNGE_COMO_CERTIFICADO_DE_ORIGEN" value="0" />
      <xsd:enumeration id="SI_FUNGE_COMO_CERTIFICADO_DE_ORIGEN" value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TipoFigura">
    <xsd:annotation>
      <xsd:documentation> Indica el tipo de figura  que firma el
				Comprobante de Valor Electr??nico. &lt;pre&gt;
				Valores aceptados
				4 - EXPORTADOR
				5 - IMPORTADOR &lt;/pre&gt;       </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:enumeration id="EXPORTADOR" value="4" />
      <xsd:enumeration id="IMPORTADOR" value="5" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DescripcionMercancia">
    <xsd:annotation>
      <xsd:documentation> Descripci??n espec??fica de la mercanc??a de la
				factura. &lt;pre&gt;
				validaciones:
			marca :
				tipo : alfanum??rico
				longitud m??xima : 100
				obligatorio : no
			modelo :
				tipo : alfanum??rico
				longitud m??xima : 50
				obligatorio : no
			Sub-Modelo :
				tipo : alfanum??rico
				longitud m??xima : 50
				obligatorio : no
			N??mero de Serie :
				tipo : alfanum??rico
				longitud m??xima : 25
				obligatorio : no &lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="marca">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Marca de la mercancia. (opcional).
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="modelo">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Modelo de la mercancia. (opcional).
						&lt;/re&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="subModelo">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Submodelo de la mercancia. (opcional).
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="numeroSerie">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; N??mero de Serie de la mercanc??a
						(opcional). &lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="25" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Mercancia">
    <xsd:annotation>
      <xsd:documentation> Datos de la mercanc??a que se incluye en la
				factura. &lt;pre&gt;
				validaciones:
			descripcionGenerica :
				tipo : alfanum??rico
				longitud m??xima : 256
				obligatorio : si
			claveUnidadMedida :
				tipo : n??merico
				longitud m??xima : 2 
				obligatorio : si
			cantidad :
			tipo : n??merico
				longitud m??xima : 16 (12 enteros, punto decimal y 3 decimales)
				obligatorio : si
			valorUnitario
				tipo : n??merico
				longitud m??xima : 24 (17 enteros, punto decimal y 6 decimales)
				obligatorio : si
			valorTotal
				tipo : n??merico
				longitud m??xima : 24 (17 enteros, punto decimal y 6 decimales)
				obligatorio : si
			valorDolares
				tipo : n??merico
				longitud m??xima : 17 (12 enteros, punto decimal y 4 decimales)
				obligatorio : si
			descripionEspecifica
				tipo : Lista de DescripcionMercancia
				obligatorio : no &lt;/pre&gt;         </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation />
      </xsd:annotation>
      <xsd:element minOccurs="1" name="descripcionGenerica">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Descripci??n comercial
						de la mercanc??a. &lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="256" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="claveUnidadMedida">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; N??mero de clave de la unidad de medida
						de comercializaci??n de la
						mercanc??a. Debe ser alguno de los valores de la enumeraci??n UnidadMedida.
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="tipoMoneda">
        <xsd:annotation>
          <xsd:documentation>Clave del tipo de moenda de la mercancia. Este catalogo se ditribuye en la ventanilla</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="3" />
            <xsd:minLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="cantidad">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Cantidad de unidades de medida de
						comercializaci??n de la mercanc??a.
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:whiteSpace value="collapse" />
            <xsd:minInclusive value="0.001" />
            <xsd:maxInclusive value="999999999999.999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="valorUnitario">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt;Valor por unidad en pesos de la
						mercanc??a.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:whiteSpace value="collapse" />
            <xsd:minInclusive value="0.000001" />
            <xsd:maxInclusive value="99999999999999999.99999999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="valorTotal">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Valor total en pesos de la
						mercanc??a.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:whiteSpace value="collapse" />
            <xsd:minInclusive value="0.000001" />
            <xsd:maxInclusive value="99999999999999999.99999999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="valorDolares">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt;Valor en d??lares de la
						mercanc??a.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:whiteSpace value="collapse" />
            <xsd:minInclusive value="0.01" />
            <xsd:maxInclusive value="999999999999.9999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="descripcionesEspecificas" type="tns:DescripcionMercancia">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Lista de descripciones espec??ficas de
						la mercanc??a. Una mercancia
						puede tener mas de una descripcion especifica.
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Domicilio">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Datos del domicilio del Emisor o
				Destinatario.
				validaciones:
			calle :
				tipo : Alfanum??rico
				longitud m??xima : 100
				obligatorio : si
			numeroExterior :
				tipo : Alfanum??rico
				longitud m??xima : 55
				obligatorio : no
			numeroInterior :
				tipo : Alfanum??rico
				longitud m??xima : 55
				obligatorio : no
			colonia :
				tipo : Alfanum??rico
				longitud m??xima : 120
				obligatorio : no
			localidad :
				tipo : Alfanum??rico
				longitud m??xima : 120
				obligatorio : no
			municipio :
				tipo : Alfanum??rico
				longitud m??xima : 120
				obligatorio : no
			entidadFederativa :
				tipo : Alfanum??rico
				longitud m??xima : 30
				obligatorio : no
			pais :
				tipo : Alfanum??rico
				longitud m??xima : 120
				obligatorio : si
			codigoPostal :
				tipo : Alfanum??rico
				longitud m??xima : 12
				obligatorio : no
				&lt;/pre&gt;    
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="calle">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt;Nombre de la calle del
						domicilio.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="numeroExterior">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt;N??mero exterior del domicilio.&lt;/pre&gt;
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="55" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="numeroInterior">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;N??mero interior del domicilio.&lt;/pre&gt;
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="55" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="colonia">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Nombre de la colonia del
						domicilio.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="localidad">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Localidad a la que pertenece el
						domicilio.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="municipio">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Nombre del municipio del
						domicilio.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="entidadFederativa">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Nombre del estado o entidad federativa
						al que pertence el
						domicilio&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="pais">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Nombre del pais al que pertenece el
						domicilio.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="codigoPostal">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;N??mero del c??digo Postal del
						domicilio.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Persona" abstract="true">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Generalizaci??n de la entidad Emisor y
				Destinatario.
				Datos personales del Emisor o Destinatario de la mercanc??a.
				validaciones:
			tipoIdentificador :
				tipo : N??merico (TipoIdentificador)
				longitud m??xima : 1
				obligatorio : si
			identificacion :
				tipo : Alfanum??rico
				longitud m??xima : 50
				obligatorio : si
			apellidoPaterno :
				tipo : Alfanum??rico
				longitud m??xima : 200
				obligatorio : si, opcional si se declara RFC (identificador 1)
			apellidoMaterno :
				tipo : Alfanum??rico
				longitud m??xima : 200
				obligatorio : si, opcional si se declara RFC (identificador 1)
			nombre :
				tipo : Alfanum??rico
				longitud m??xima : 200
				obligatorio : si
			domicilio :
				tipo : Domicilio
				obligatorio : si
				&lt;/pre&gt;
				&lt;pre&gt; Identificaci??n de Emisor o Destinatario. Se aplican las siguientes
				validaciones:
				si es tipo identificador 0(tax id)
				tipo : caracter
				longitud maxima : 50
				si es tipo identificador 1(RFC)
				si es persona fisica
				tipo : caracter
				longitud maxima : 13
				formato (AAAANNNNNN---)
				donde :
				A caracter alfab??tico [A-Za-z]
				N digito [0-9]
				- caracter alfanum??rico [A-Za-z0-9]
				si es persona moral
				tipo : caracter
				longitud maxima : 12
				formato (AAANNNNNN---)
				donde :
				A caracter alfab??tico [A-Za-z]
				N digito [0-9]
				- caracter alfanum??rico [A-Za-z0-9]
				si es tipo identificador 2(CURP)
				tipo : caracter
				longitud maxima : 18
				formato (AAAANNNNNNAAAAAA-N)
				donde :
				A caracter alfab??tico [A-Za-z]
				N digito [0-9]
				- caracter alfanum??rico [A-Za-z0-9]
				&lt;/pre&gt;   </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="tipoIdentificador" type="tns:TipoIdentificador">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Tipo de identificacion del Emisor o
						Destinatario (TaxId, RFC, CURP, Sin TaxID).
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="identificacion">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="apellidoPaterno">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Apellido paterno. Obligatorio, opcional
						si se declara RFC&lt;/pre&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="apellidoMaterno">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Apellido materno. Obligatorio, opcional
						si se declara RFC&lt;/pre&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="nombre">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;Nombre o Raz??n Social.
						Obligatorio&lt;/pre&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="domicilio" type="tns:Domicilio">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Destinatario">
    <xsd:annotation>
      <xsd:documentation>&lt;pre&gt;Datos del Destinatario de la mercancia.
				&lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Persona" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Emisor">
    <xsd:annotation>
      <xsd:documentation>&lt;pre&gt;Datos del Emisor.&lt;/pre&gt;
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Persona" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EDocument">
    <xsd:annotation>
      <xsd:documentation>&lt;pre&gt;Identificador ??nico del Comporbante de
				Valor Electr??nico (COVE). Este es generado por el sistema.&lt;/pre&gt;
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="eDocument">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;N??mero de identificaci??n del
						COVE.&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vigencia">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Leyenda que informa al contribuyente
						de el periodo de vigencia del cove &lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacturaCove">
    <xsd:annotation>
      <xsd:documentation>
			certificadoOrigen :
				tipo : N??merico (CertificadoOrigen)
				longitud m??xima : 1 [0,1]
				obligatorio : si
			numeroExportadorAutorizado :
				tipo : Alfanum??rico
				longitud m??xima : 50
				obligatorio : no
			subdivision :
				tipo : Num??rico (Subdivision)
				longitud m??xima : 1 [0,1]
				obligatorio : si  
    		</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="certificadoOrigen" type="tns:CertificadoOrigen">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt;
						0 = No Funge como certificado de origen
						1 = Con Funge como certificado de origen

						Derivado de la excepci??n de certificados de Origen de los Tratados de
						Libre Comercio que ha celebrado M??xico con diversos pa??ses como:
						Costa Rica, Bolivia, Nicaragua, Chile, Israel, El Salvador,
						Guatemala y Honduras, Uruguay, Am??rica del Norte y Acuerdo con
						Jap??n. &lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="numeroExportadorAutorizado">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; N??mero de exportador confiable,
						conforme al art??culo 22 del Anexo 1 del Tratado de Libre Comercio
						con la Asociaci??n Europea y a la Decisi??n de la Comunidad Europea.
						&lt;/pre&gt;      
                    </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="subdivision" type="tns:Subdivision">
        <xsd:annotation>
          <xsd:documentation>
						&lt;pre&gt; Indica si el comprobante declarado tiene subdivisi??n. debe
						contener uno de los valores de la enumeraci??n Subdivision :
						0 NO_TIENE_SUBDIVISION 
						1 SI_TIENE_SUBDIVISION
						&lt;/pre&gt;        
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteValorElectronicoBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Comprobante de Valor Electr??nico para
				anexar al pedimento.
				Base para Generar COVE para los 3 tipos ditintos de COVE
				validaciones :
				tipoOperacion :
				tipo : string
				obligatorio : si
				fechaExpedicion :
				tipo : Fecha
				longitud m??xima : 10
				longitud m??nima : 10
				obligatorio : si
				formato : AAAA-MM-DD

				observaciones :
				tipo : Alfanum??rico
				longitud m??xima : 300
				obligatorio : no
				rfcConsulta [] :
				tipo : Alfanum??rico
				longitud m??xima : 13
				obligatorio : no


				tipoFigura :
				tipo : N??merico (TipoFigura)
				longitud m??xima : 1 [1,5]
				obligatorio : no
				correoElectronico:
				tipo : alfanumerico
				longitud maxima : 70
				obligatorio: si
				&lt;/pre&gt;


       </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="e-document" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Si se envia este dato, el comprobante se tomara como una adenda del cove con e-document igual a este valor</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoOperacion" type="tns:TipoOperacion">
        <xsd:annotation>
          <xsd:documentation>Tipo de operacion del comporbante
						(IMPORTACION/EXPORTACION)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="patenteAduanal">
        <xsd:annotation>
          <xsd:documentation />
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}" />
            <xsd:maxLength value="4" />
            <xsd:minLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="fechaExpedicion" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation> &lt;pre&gt; Fecha en fue expedida la factura.
						El formato esperado es :
						'aaaa-mm-dd'
						donde D??a (dd) Mes (mm) A??o (aaaa).
						Si no tiene este formato, sera devuelto el mensaje de error
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="observaciones">
        <xsd:annotation>
          <xsd:documentation>
						&lt;pre&gt; Campo opcional en caso de ingresar alguna informaci??n adicional,
						como alguna leyenda que debe incluir el COVE. &lt;/pre&gt;
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="300" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="rfcConsulta">
        <xsd:annotation>
          <xsd:documentation>&lt;pre&gt;RFC del Usuario que puede consultar el
						cove o relacion de facturas adem??s del que registr??.&lt;/pre&gt;
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13" />
            <xsd:minLength value="12" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="tipoFigura" type="tns:TipoFigura">
        <xsd:annotation>
          <xsd:documentation>
						&lt;pre&gt; Indica el Tipo de Figura del contribuyente. Debe ser uno
						de valores de la enumeracion TipoFigura.
						4 - Exportador
						5 - Impertador
						&lt;/pre&gt;      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="correoElectronico">
        <xsd:annotation>
          <xsd:documentation>
						&lt;pre&gt;correo electronico donde se enviara la respuesta de la
						operacion.&lt;/pre&gt;
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="70" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="firmaElectronica" type="tns:FirmaElectronica" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FirmaElectronica">
    <xsd:annotation>
      <xsd:documentation>Datos de la firma electronica</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="certificado" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Certificado Digital</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="cadenaOriginal" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Cadena original para obtener la firma digital
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" name="firma" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Firma digital generada</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteValorElectronico">
    <xsd:annotation>
      <xsd:documentation>&lt;pre&gt;
				Comprobante de Valor Electr??nico cuando es solo una factura o comprobante el
				que se registrar??
				validaciones:
				numeroFacturaOriginal:
				tipo : Alfanum??rico
				longitud m??xima : 25
				obligatorio : si
				emisor :
				tipo : Emisor
				obligatorio : si
				destinatario :
				tipo : Destinatario
				obligatorio : si
				mercancia :
				tipo : Mercancia
				obligatorio : si
				&lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:ComprobanteValorElectronicoBase">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroFacturaOriginal">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Numero de folio de la factura
								&lt;/pre&gt;      </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="factura" type="tns:FacturaCove">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Datos de la factura. &lt;/pre&gt;        </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" name="emisor" type="tns:Emisor">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Emisor de la factura o documento
								original. &lt;/pre&gt;        </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" name="destinatario" type="tns:Destinatario">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Destinatario indicado en la factura
								o documento
								original. &lt;/pre&gt;        </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="mercancias" type="tns:Mercancia">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Informaci??n para la declaraci??n de
								mercanc??as
								&lt;/pre&gt;        </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Acuse">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Acuse de Recibo de la petici??n &lt;/pre&gt;
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="numeroDeOperacion" type="xsd:integer" />
      <xsd:element minOccurs="1" name="horaRecepcion" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="mensajeInformativo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolicitarRecibirCoveServicio">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Petici??n para la ejecucion de la
				operaci??n RecibirCove del Servicio Web. &lt;/pre&gt;
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="comprobantes" type="tns:ComprobanteValorElectronico" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacturaIA">
    <xsd:annotation>
      <xsd:documentation>
				&lt;pre&gt; Datos de la factura que se agregar?? al Comprobante de Valor
				Electr??nico.
				Este puede ser la factura o algun comprobante o ticket. Este comprobante
				no necesariamente tiene valor fiscal.

				Validaciones:
				numeroFactura
				tipo : string
				longitud maxima : 25
				obligatorio : si
				marcancias :
				tipo : Lista Mercancias
				obligatorio : si

				&lt;/pre&gt;    
             </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:FacturaCove">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroFactura">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="mercancias" type="tns:Mercancia">
            <xsd:annotation>
              <xsd:documentation>&lt;pre&gt;Descripci??n de la Mercanc??a.&lt;/pre&gt;
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteValorElectronicoIA">
    <xsd:annotation>
      <xsd:documentation>
				&lt;pre&gt; Comprobante de Valor Electr??nico para empresas IA &lt;/pre&gt;
				Validaciones :
				numeroRelacionFacturas:
				tipo : Alfanum??rico
				longitud m??xima : 25
				obligatorio : si
				emisor :
				tipo : Emisor
				obligatorio : si
				destinatario :
				tipo : Destinatario
				obligatorio : no
				facturas :
				tipo : Lista de FacturaIA
				obligatorio : si
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:ComprobanteValorElectronicoBase">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroRelacionFacturas">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Numero de folio de la relacion de
								facturas. &lt;/pre&gt;      </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="emisor" type="tns:Emisor" />
          <xsd:element minOccurs="0" name="destinatario" type="tns:Destinatario" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="facturas" type="tns:FacturaIA" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SolicitarRecibirRelacionFacturasIAServicio">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Petici??n para la ejecuci??n de la
				operaci??n RecibirRelacionFacturas del Servicio Web para empresas IA.
				&lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="comprobantes" type="tns:ComprobanteValorElectronicoIA" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacturaNoIA">
    <xsd:annotation>
      <xsd:documentation>
				&lt;pre&gt;
				Datos de la factura que se agregar?? al Comprobante de Valor Electr??nico.
				Este puede ser la factura o algun comprobante o ticket.
				Este comprobante no necesariamente tiene valor fiscal.

				Validaciones:
				numeroFactura
				tipo : string
				longitud maxima : 25
				obligatorio : si
				emisor :
				tipo : Emisor
				obligatorio : si
				destinatario :
				tipo : Destinatario
				obligatorio : si
				marcancias :
				tipo : Lista Mercancias
				obligatorio : si

				&lt;/pre&gt;    
            </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:FacturaCove">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroFactura">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="emisor" type="tns:Emisor">
            <xsd:annotation>
              <xsd:documentation />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" name="destinatario" type="tns:Destinatario">
            <xsd:annotation>
              <xsd:documentation />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="mercancias" type="tns:Mercancia">
            <xsd:annotation>
              <xsd:documentation>
								&lt;pre&gt;Descripci??n de la Mercanc??a.
								&lt;/pre&gt;        
							</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteValorElectronicoNoIA">
    <xsd:annotation>
      <xsd:documentation>
				&lt;pre&gt; Comprobante de Valor Electr??nico para empresas no Industria
				Automitriz&lt;

				Validaciones :
				numeroRelacionFacturas:
				tipo : Alfanum??rico
				longitud m??xima : 25
				obligatorio : si
				facturas :
				tipo : Lista de FacturaIA
				obligatorio : si

				/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:ComprobanteValorElectronicoBase">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="numeroRelacionFacturas">
            <xsd:annotation>
              <xsd:documentation> &lt;pre&gt; Numero de folio de la relacion de
								facturas. &lt;/pre&gt;      </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
                <xsd:whiteSpace value="collapse" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="facturas" type="tns:FacturaNoIA" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SolicitarRecibirRelacionFacturasNoIAServicio">
    <xsd:annotation>
      <xsd:documentation> &lt;pre&gt; Petici??n para la ejecucion de la
				operaci??n RecibirRelacionFacturas del Servicio Web para empresas no
				Industria Automitriz.
				&lt;/pre&gt;    </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="comprobantes" type="tns:ComprobanteValorElectronicoNoIA" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="solicitarRecibirCoveServicio" type="tns:SolicitarRecibirCoveServicio" />
  <xsd:element name="solicitarRecibirCoveServicioResponse" type="tns:Acuse" />
  <xsd:element name="solicitarRecibirRelacionFacturasIAServicio" type="tns:SolicitarRecibirRelacionFacturasIAServicio" />
  <xsd:element name="solicitarRecibirRelacionFacturasIAServicioResponse" type="tns:Acuse" />
  <xsd:element name="solicitarRecibirRelacionFacturasNoIAServicio" type="tns:SolicitarRecibirRelacionFacturasNoIAServicio" />
  <xsd:element name="solicitarRecibirRelacionFacturasNoIAServicioResponse" type="tns:Acuse" />
</xsd:schema>